.row{
    background-color: var(--claro);
    padding: 20px;
}
footer{
    color: var(--blue1);
    font-size: 1rem;
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}