.row{
    background-color: var(--claro);
    padding: 20px;
}
footer{
    color: var(--negro);    
}
footer, a{
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media (max-width: 575px){
    footer, a{
        font-size: 0.8rem;
    }
}