.row{
    background-color: var(--claro);
    padding: 30px;
}
h2{
    font-size: 1.7rem;
    font-weight: 600;
    text-shadow: 0 .1rem 1.2rem var(--shadow);
}
h3{
    font-weight: 600;
}
h3, h4{
    display: inline;
}
li{
    list-style-type: none;
}
p{
    font-size: 1.2rem;
}

