.row{
    padding: 30px;
}
.row, td{
    background-color: var(--claro);
}
h3{
    font-weight: 600;
    font-size: 1.1rem;
}
h3, h4{
    display: inline;
}
li{
    list-style-type: none;
}
p{
    font-size: 1.2rem;
}

