.gradient-custom {
    /* fallback for old browsers */
    background: var(--claro);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, var(--claro), var(--blue1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, var(--claro), var(--blue1));
    }