<div class="container">
    <div class="row">
            <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged">
                Editar persona
            </button>
            <br>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
            <img src={{persona.img}} class="img-fluid" id="foto-perfil" alt="imagen de perfil">
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2" id="texto1">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p id="titulo">Full Stack Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8" id="texto2">
            <span>
                <h2>Acerca de</h2>
                <p>{{persona.descripcion}}</p>
            </span>
        </div>
    </div>
</div>