.row{
    padding: 30px;
}
div{
    background-color: var(--claro);
}
img{
    width: 7rem;
    height: auto;
    box-shadow: 0 1px 7px var(--negro);
}
#nombre{
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--blue2);
    letter-spacing: 1px;
}
#titulo{
    font-size: 1.2rem;
    font-weight: 500;
}
button{
    margin-bottom: 1rem;
}
button:hover{
    box-shadow: 0 .1rem .5rem var(--claro); 
}
@media (max-width: 575px){
    #foto-perfil{
        display: flex;
        margin: auto;
    }
    #nombre, #titulo{
        text-align: center;
    }
    #nombre{
        font-size: 1.3rem;
    }
    img{
        width: 3rem;
    }
}