.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin: 0.5rem;
}
#logoAP{
    width: 6rem;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
    box-shadow: 0 .1rem .5rem var(--shadow);
}
img{
    width: 3rem;
    margin: 15px;
    opacity: .8;
    border-radius: .25rem;
}
img:hover{
    box-shadow: 0 .1rem .5rem var(--shadow); 
    opacity: 1;
    /* x y blur color */
}
.btn-outline-primary {
    margin: 15px;
}
