:root{
    --claro: #D1D1D1;
    --negro: #010c12;
    --blue1: #1181C8;
    --blue2: #0C6DAB;
    --shadow: #FD7E14;
    --orange: #DFA87A;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway');
*{  
    font-family: 'Raleway', 'century gothic', sans-serif;
    box-sizing: border-box;
}
h2{
    font-size: 1.7rem;
    font-weight: 600;
    text-shadow: 0 .1rem 1.2rem var(--shadow);
}
@media (max-width: 575px){
    .btn{
        --bs-btn-font-size: 0.7rem;
    }
    h2{
        font-size: 1.3rem;
    }
}
